<style>
.center
{
margin:auto;
width:70%;

}
</style>
<br>
<style type="text/css">
body {background-image:url(/images/bg7.jpg);}
</style>
<div class="center">
<p><font size= "36" color="gold"><b>   Welcome to Preschool Student Information System</b></font></p>
</div>
<br>

