<form action="/login" method="POST">
<br><br>
<Label for="username">Username(frank):</Label>
<br>
<input id="username" name="username" type="text" />
<br><br>
<labell for="password">Password(sinatra):</labell>
<br>
<input id="password" name="password" type="password" />
<br><br>
<input type="submit" value="Log In" />
</form>
<img alt="login page" src="/images/login.jpeg"  style="float:left"/>
