<nav>
<ul>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/about" title="About">About</a></li>
<li><a href="/contact" title="Contact">Contact</a></li>
<li><a href="/students" title="Student">Student</a></li>
<li><a href="/video" title="Video">Video</a></li>
<li><a href="/comments" title="Comments">Comments</a></li>
<li><a href=<%=("/logout" if session[:admin] )|| "/login"%> title="Login" ><%= ("Log out"  if session[:admin]) || "Log in"%> </a></li>


</ul></nav>
