<h1>Students</h1>

<input type="button" onclick="window.location.href='/students/new'" value="create a new student record"/>

<br><br>

<% if @students.any? %>
  <ul>
  <% @students.each do |student| %>
    <li><a href="/students/<%= student.id%>"><%=("NoFirstName"+" "+ student.lastname if (student.firstname.empty? ) )|| student.firstname + " "+ student.lastname%></a></li><br>
  <% end %>
  </ul>
<% else %>
  <p>No student record have been created yet!</p>
<% end %>
